<div class="h-100 mh-100 d-flex flex-column overflow-hidden justify-content-start">
    <h6 class="px-4 display-6 text-secondary p-2">{{selectedSession?.title}}</h6>
    <div class="px-4 pb-4 pt-2 flex-grow-1 overflow-y-auto overflow-x-hidden align-items-stretch" id="MessagesInChatdiv"
        #messagesInChatDiv>
        <div *ngIf="selectedSession == null" class="alert alert-warning">
            <h4 class="alert-heading">
                <i class="bi bi-exclamation-triangle-fill me-1" aria-hidden="true"></i>
                No Chats Available
            </h4>
            <p class="text-nowrap mb-0 fst-italic">
                Use the New Chat option to start a new chat.
            </p>
        </div>
        <div *ngIf="selectedSession != null && messages.length == 0" class="alert alert-info">
            <h4 class="alert-heading">
                <i class="bi bi-lightbulb-fill me-1" aria-hidden="true"></i>
                Hi, I am your search assistant.
            </h4>
            <p class="text-nowrap mb-0 fst-italic">
                Ask me any question related to recipes around the world
            </p>
        </div>
        <div *ngIf="selectedSession != null && messages.length > 0"
            class="toast-container position-static w-100 d-flex flex-column align-items-stretch">
            <div *ngFor="let message of messages">
                <div class="toast fade show w-75 rounded-3 align-self-start">
                    <div class="toast-header bg-primary text-light">
                        <i class="bi bi-person me-1" aria-hidden="true"></i>
                        <strong class="me-auto text-capitalize">User</strong>
                        <small>2024-01-01</small>
                    </div>
                    <div class="toast-body">
                        <i class="bi bi-grip-vertical mr-2 text-black-50"></i>
                        {{message.prompt}}
                    </div>
                </div>
                <br>
                <!-- To add when model is answering -->
                <!-- <div class="element"></div> -->
                <div id="completionbox" class="toast fade show w-75 rounded-3 align-self-end ms-auto">
                    <div class="toast-header bg-success text-dark">
                        <i class="bi bi-robot me-1" aria-hidden="true"></i>
                        <strong class="me-auto text-capitalize">Assistant</strong>
                        <small>2024-05-05</small>
                    </div>
                    <div class="toast-body">
                        <i class="bi bi-grip-vertical mr-2 text-black-50"></i>
                        {{message.completion}}
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div id='panel' *ngIf="selectedSession != null"
        class="bg-primary text-light px-4 py-2 rounded-top-5 text-dark d-flex flex-column justify-content-center">
        <div class="input-group">
            <i class="bi bi-body-text input-group-text" aria-hidden="true"></i>
            <input class="form-control form-control-sm" type="text" rows="1" placeholder="Your Message" #prompt
                (keydown.enter)="sendPrompt(prompt)" />
            <button type="button" class="btn btn-outline-secondary" (click)="sendPrompt(prompt)">
                <i class="bi bi-send-fill" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>