@keyframes dotAnimation {

    0%,
    100% {
        content: ".";
    }

    20% {
        content: "..";
    }

    40%,
    60% {
        content: "...";
    }

    80% {
        content: "..";
    }
}

.element::after {
    display: inline-block;
    animation: dotAnimation 2s infinite;
    content: ".";
}

/*  Loading screen */

#splash-page {
    z-index: 99999 !important;
}

#splash-page .bar {
    width: 100%;
}

.page-splash {
    z-index: 99999 !important;
    position: fixed !important;
    display: table !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: .9;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    /* -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear; */
}

.page-splash-message {
    display: table-cell;
    vertical-align: middle !important;
    margin: 0 auto;
    text-align: center;
}


.page-splash-message.page-splash-message-subtle {
    margin: 30% auto 0 auto;
    font-size: 200%;
}

/* End loading screen */

/* Source */

.accordion-button {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    display: flex;
    /* Ensures items inside the button are in a row */
    align-items: center;
    /* Centers items vertically */
    background-color: transparent;
    /* No background color */
}

.accordion-button:hover {
    background-color: transparent;
    /* Keeps background unchanged on hover */
}

.accordion-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
}

.chevron {
    margin-right: 10px;
    /* Space between the chevron and the text */
    transition: transform 0.2s ease;
    /* Smooth transition for rotation */
}

.accordion-button.active .chevron {
    transform: rotate(-90deg);
    /* Rotate chevron to point right when active */
}